@media (max-width: 349px) {
    header {
        height: 85px;
    }

    header div {
        height: 85px;
    }

    .produtos {
        margin-top: 89px;
    }

    .produtos .contProdutos img {
        width: 200px;
        height: 230px;
    }

    .produtos .contProdutos i {
        font-size: 24px;
    }

    .produtos .contProdutos .informacoes h2 {
        font-size: 23px;
    }

    .produtos .contProdutos .informacoes p {
        font-size: 19px;
    }

    .produtos .contProdutos .informacoes .contador {
        width: 100px;
    }

    .produtos .contProdutos .informacoes .buttons #comprar {
        width: 150px;
    }

    .slide4 .swiper {
        width: 340px;
        height: 390px;
    }

    footer .contato {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:430px) and (max-width:742px) {
    .menu {
        left: -700px;
    }

    .slide1 .swiper {
        height: 500px;
    }

    .slide1 .swiper-slide img {
        height: 500px;
    }

    header {
        height: 100px;
    }

    header div {
        height: 100px;
    }

    header h2 {
        font-size: 43px;
    }

    header div i {
        font-size: 32px;
    }

    .slide2 .swiper {
        height: 80px;
    }

    .slide2 .swiper-slide {
        font-size: 40px;
    }

    .slide3 .swiper {
        width: 400px;
        height: 320px;
    }

    .slide3 .swiper-slide h2 {
        font-size: 38px;
    }

    .slide4 .swiper-slide {
        width: 400px;
        height: 400px;
    }

    .slide4 .swiper-slide img {
        height: 64%;
    }

    .slide4 .swiper-slide h2 {
        font-size: 30px;
    }

    .slide4 .swiper-slide p {
        font-size: 24px;
    }

    .novidades {
        font-size: 37px;
    }

    .produtos {
        width: 85%;
        height: 80%;
        margin-top: 50px;
    }

    .produtos .contProdutos img {
        width: 400px;
        height: 450px;
    }

    .produtos .contProdutos i {
        font-size: 28px;
    }

    .produtos .contProdutos .informacoes h2 {
        font-size: 30px;
        margin-left: 45px;
    }

    .produtos .contProdutos .informacoes p {
        font-size: 25px;
        margin-left: 45px;
    }

    .produtos .contProdutos .informacoes .contador {
        width: 120px;
        margin-left: 45px;
    }

    .produtos .contProdutos .informacoes .buttons #comprar {
        width: 280px;
    }

    footer .infos a {
        font-size: 23px;
    }

    footer .title {
        font-size: 30px;
    }

    footer .contato .icones i {
        font-size: 25px;
    }

    footer .contato .icones p {
        font-size: 22px;
    }
} 

@media (min-width:743px) and (max-width: 900px) {
    .menu {
        left: -1000px;
    }

    .menu .icons {
        font-size: 35px;
    }

    .menu .informacoes {
        font-size: 30px;
    }

    .slide1 .swiper {
        height: 625px;
    }

    .slide1 .swiper-slide img {
        height: 625px;
    }

    header {
        height: 115px;
    }

    header div {
        height: 115px;
    }

    header h2 {
        font-size: 51px;
    }

    header div i {
        font-size: 40px;
    }

    header div #car {
        font-size: 35px;
    }

    .slide2 .swiper {
        height: 91px;
    }

    .slide2 .swiper-slide {
        font-size: 50px;
    }

    .mensagem p {
        font-size: 28px;
    }

    .slide3 .swiper {
        width: 480px;
        height: 400px;
    }

    .slide3 .swiper-slide h2 {
        font-size: 54px;
    }

    .slide4 .swiper {
        width: 480px;
        height: 400px;
    }

    .slide4 .swiper-slide .titulo {
        font-size: 28px;
    }

    .slide4 .swiper-slide .preco {
        font-size: 25px;
    }

    .novidades {
        font-size: 44px;
    }

    footer .infos a {
        font-size: 28px;
    }

    footer .title {
        font-size: 35px;
    }

    footer .contato .icones i {
        font-size: 30px;
    }

    footer .contato .icones p {
        font-size: 27px;
    }

    .produtos {
        width: 85%;
        height: 80%;
        margin-top: 50px;
    }

    .produtos .contProdutos img {
        width: 450px;
        height: 450px;
    }

    .produtos .contProdutos i {
        font-size: 30px;
    }

    .produtos .contProdutos .informacoes h2 {
        font-size: 33px;
        margin-left: 45px;
    }

    .produtos .contProdutos .informacoes p {
        font-size: 28px;
        margin-left: 45px;
    }

    .produtos .contProdutos .informacoes .contador {
        width: 120px;
        margin-left: 45px;
    }

    .produtos .contProdutos .informacoes .buttons #comprar {
        width: 370px;
    }
}

@media (min-width: 890px) {
    .menu {
        left: -1500px;
    }

    header div i {
        padding: 0 20px;
        font-size: 45px;
    }

    header div #car {
        font-size: 33px;
    }

    header h2 {
        font-size: 45px;
    }

    .menu .icons {
        font-size: 35px;
        margin: 10px 15px;
    }

    .menu .informacoes {
        font-size: 35px;
        margin-left: 15px;
    }

    .slide1 .swiper {
        height: auto;
    }

    .slide1 .swiper-slide img {
        height: 615px;
    }

    .slide2 .swiper {
        height: 95px;
    }

    .slide2 .swiper-slide {
        font-size: 50px;
    }

    .mensagem p {
        font-size: 30px;
    }

    .slide3 .swiper {
        width: 80%;
        height: 450px;
    }

    .slide4 .swiper {
        width: 80%;
        height: 450px;
    }

    .slide4 .swiper-slide img {
        width: 80%;
    }

    footer .infos a {
        font-size: 28px;
    }

    footer .title {
        font-size: 35px;
    }

    footer .contato .icones i {
        font-size: 30px;
    }

    footer .contato .icones p {
        font-size: 27px;
    }

    .mensagem {
        width: 80%;
        margin: auto;
    }

    .produtos {
        width: 80%;
        height: 77%;
        margin-top: 50px;
    }

    .produtos .contProdutos .cont {
        display: flex;
        flex-direction: row;
        width: 85%;
        margin: 0 auto;
    }

    .produtos .contProdutos img {
        width: 400px;
        height: 400px;
    }

    .produtos .contProdutos i {
        font-size: 30px;
    }

    .produtos .contProdutos .informacoes h2 {
        font-size: 33px;
        margin-left: 10px;
    }

    .produtos .contProdutos .informacoes p {
        font-size: 28px;
        margin-left: 10px;
    }

    .produtos .contProdutos .informacoes .contador {
        width: 120px;
        margin-left: 10px;
    }

    .produtos .contProdutos .informacoes .buttons #comprar {
        width: 220px;
    }

}

@media (min-width: 1100px) {
    #produtosOpen {
        top: 7%;
    }
}
