:root {
    --marrom: #ca9b64;
    --fonte-min: "Raleway", sans-serif;
    --fonte-cont: "Bellefair", serif;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    background-color: rgb(204, 153, 102)
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

header h2 {
    font-family: var(--fonte-min);
    font-size: 35px;
    color: #fff;
    display: flex;
    align-items: center;
}

header div i {
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 7px;
    color: #fff;
    cursor: pointer;
}

#car {
    font-size: 21px;
}


/* slide 1 */

.swiper {
    width: 100%;
    height: 370px;
}

.swiper-wrapper {
    position: absolute;
    display: flex;
    z-index: 2;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 370px;
    object-fit: cover;
}

/* slide 2 */

.slide2 {
    background-color: var(--marrom);
}

.slide2 .swiper {
    width: 100%;
    height: 69px;
    background-color: #e9c395;
}

.slide2 .swiper-wrapper {
    position: absolute;
    display: flex;
    z-index: 2;
}

.slide2 .swiper-slide {
    text-align: center;
    font-size: 30px;
    font-family: var(--fonte-cont);
    color: #fff;
    background: #e9c395;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 69px;
    object-fit: cover;
}

/* slide 3 */

.slide3 .swiper {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.slide3 .swiper-slide {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
}

.slide3 .swiper-slide h2 {
    position: absolute;
    font-size: 30px;
    font-family: var(--fonte-min);
    letter-spacing: 1.5px;
    text-align: center;
    z-index: 2;
}

/* slide 4 */

.slide4 .swiper {
    margin: 40px auto;
    width: 350px;
    height: 400px;
    cursor: pointer;
}

.slide4 .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #eee;
}

.slide4 .swiper-slide img {
    height: 70%;
    object-fit: cover;
}

.slide4 .swiper-slide .titulo {
    text-align: center;
    font-size: 25px;
    color: #000;
    font-family: monospace;

}

.slide4 .swiper-slide .preco {
    text-align: center;
    color: #000;
    font-size: 19px;
    font-family:  monospace;
    margin: 0;
    padding: 0;
}

.novidades {
    text-align: center;
    font-size: 30px;
    font-family: var(--fonte-min);
    margin-top: 50px;
}
/* mensagem */

.mensagem p {
    text-align: center;
    font-family: var(--fonte-cont);
    font-size: 20px;
    color: #000;
    padding: 0 6px;
}

/* footer */

footer {
    background-color: var(--marrom);
    width: 100%;
    margin-top: 35px;
}

footer .infos {
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .infos a:hover {
    color: rgb(107, 102, 102);
}

footer .infos a {
    font-family: var(--fonte-min);
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    margin-left: 10px;
    list-style: none;
    text-decoration: none;
}

footer .title {
    font-family: var(--fonte-min);
    font-size: 25px;
    color: #fff;
    text-align: center;
}

footer .contato {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: var(--marrom);
}

footer .contato .icones {
    display: flex;
    flex-direction: row;
}

footer .contato .icones p:hover {
    color: rgb(107, 102, 102);
    cursor: pointer;
}

footer .contato .icones i {
    font-size: 15px;
    margin: 0 8px;
    display: flex;
    align-items: center;
    color: #fff;
}

footer .contato .icones p {
    font-size: 17px;
    color: #fff;
    font-family: var(--fonte-min);
    align-items: center;
    display: flex;
    justify-content: center;
}

/* menu */

.menu {
    position: fixed;
    top: 0;
    left: -1000px;
    z-index: 15;
    background: linear-gradient(to bottom, #d6ae7e, #e9c395, #e9c395,#ceb9b9);
    width: 70%;
    height: 100%;
    transition: left 0.5s ease;
}

#menuOpen {
    left: 0;
}

.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.884); /* Fundo semitransparente */
    z-index: 11;
    display: none;
}

.menu .icons {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    color: #fff;
    margin: 10px 7px;
}

.menu .informacoes {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 20px;
    color: #fff;
    font-size: 25px;
    font-family: var(--fonte-min);
    margin-left: 7px;
}

.menu .informacoes a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.menu .informacoes a:hover {
    color: var(--marrom);
}

/* produtos */

.produtos {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-top: 105px;
    transform: translate(-50%, -50%);
    background-color: #eee;
    padding: 20px 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 12;
    border-radius: 10px;
}

#produtosOn {
    opacity: 1;
    pointer-events: all;
}

.produtos .contProdutos img {
    display: flex;
    width: 320px;
    height: 350px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
    object-fit: cover;
}

.produtos .contProdutos i {
    margin-left: 20px;
    font-size: 30px;
    color: var(--marrom);
}

.produtos .contProdutos .informacoes h2 {
    font-family: var(--fonte-min);
    font-size: 30px;
    margin-left: 30px;
    color: var(--marrom);
}

.produtos .contProdutos .informacoes p {
    font-family: var(--fonte-min);
    font-size: 25px;
    color: var(--marrom);
    margin-left: 25px;
    font-weight: 800;
}

.produtos .contProdutos .informacoes .contador {
    width: 130px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--marrom);
    border-radius: 5px;
    cursor: pointer;
}

.produtos .contProdutos .informacoes .contador #menos, #mais {
    border: none;
    font-size: 30px;
    width: 30px;
    margin: 0 6px;
    padding: 6px 0;
    background-color: transparent;
    color: var(--marrom);
}

.produtos .contProdutos .informacoes .contador #contador {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.produtos .contProdutos .informacoes .buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.produtos .contProdutos .informacoes .buttons #comprar {
    font-family: var(--fonte-min);
    font-size: 22px;
    width: 190px;
    background-color: var(--marrom);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
